.main {
  padding-block: var(--ds-semantic-space-stack-2xl);
}

.heading {
  font-size: var(--ds-semantic-typography-heading-small-size);
  line-height: var(--ds-semantic-typography-heading-small-line-height);
}
